.satisfaction_form{
    width: 40%;
    margin: auto;
    border: 2px solid white;
    padding: 20px
}
.satisfaction_form * {
    margin-top: 5%;
}
.stars{
    display: flex;
    width: 35%;
    margin: auto;
}

.satisfaction_form p {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.satisfaction_form input[type=text]{
    padding: 10px;
    width: 90%;
    margin-left: 5%;
}
.satisfaction_form input[type=submit]{
    width: 45%;
    margin: 20px 30%;
    padding: 12px;
    border: none;
    background-color: #25ad16;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 10px;
}
.satisfaction_form input[type=submit]:hover {
    background-color: #158d06;
    cursor: pointer;
}
.satisfaction_form label {
    color: white;
    margin-left: 2%;
}
.satisfaction_form input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin-left: 5%;
}
.satisfaction_form input[type=checkbox]:checked {
    color: #25ad16;
}


