.customer_form{
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
}
.customer_form label{
    display: block;
    padding: 1rem .25rem;
    text-transform: uppercase;
    color: #edf0f1;
}
.customer_form input{
    display: block;
    width: 100%;
    border: solid 2px #edf0f1;
    padding: .5rem;
    color: #edf0f1;
    border-radius: 5px;
}
#submit_btn{
    border: 0;
    background: #25ad16;
    padding: .5rem;
    color: #edf0f1;
    margin: 1rem;
    width: auto;
    text-transform: uppercase;
    cursor: pointer;
}
#submit_btn:hover{
    background: #158d06;
}

.banner {
    margin: auto;
    width: 50%;
    padding: 3rem 1rem;
    text-align: center;
    color: #edf0f1;
}
.error_message{
    color: red;
    font-size: 12px;
    text-align: center;
}
